@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* side bar */
:root {
  --sidebar-width: 288px;
}

/* Dark mode */
.dark {
  --background: #000000;
  --foreground: #ffffff;
}

/* Apply the colors globally */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}